<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<div th:if="${books.isEmpty()}">
    <p>Person didn't take any book!</p>
</div>

<div th:if="${!books.isEmpty()}">
<b>Books:</b>
<br/>
<table th:each="book : ${books}">
    <tr>
        <td th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"
            th:style="${book.isExpired()} ? 'color: red' : 'color: black'">
        </td>
    </tr>
</table>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
    <br/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>